.location {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .location h2 {
    color: #007b5e;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
  
  .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  iframe {
    border-radius: 10px;
    max-width: 100%;
  }

  .loading-text {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 20px;
  }
  
  